CREATE TABLE [dbo].[tbl_Countries](
	[IDPaese] [nvarchar](2) NOT NULL,
	[Paese] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.tbl_Paesi] PRIMARY KEY CLUSTERED 
(
	[IDPaese] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Countries] ([IDPaese], [Paese]) VALUES (N'AD', N'ANDORRA')
INSERT [dbo].[tbl_Countries] ([IDPaese], [Paese]) VALUES (N'AE', N'U.A.E.')
INSERT [dbo].[tbl_Countries] ([IDPaese], [Paese]) VALUES (N'AF', N'AFGHANISTAN')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
